* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body,
.new-task,
.tasks {
    background-color: #0f172a;
}
body,
.new-task {
    max-width: 432px;
}
body {
    margin: 32px auto;
}
div,
.new-task input {
    background-color: #1e293b;
}
header,
.new-task,
.tasks,
.task {
    display: flex;
    gap: 16px;
}
header,
.tasks {
    max-width: 400px;
}
header,
.new-task,
.task {
    padding: 16px;
}
header h1 {
    color: #22c55e;
}
.new-task input,
.new-task button,
.task span,
.task p {
    color: #ffffff;
}
.new-task input,
.new-task button,
.task {
    border: 2px solid #1e293b;
}
.new-task input,
.new-task button,
.task {
    border-radius: 4px;
}
.new-task input { 
    font-size: 16px;
    padding: 8px;
    outline: none;
    flex-grow: 2;
}
.new-task input[type=text]:focus,
.task.done:hover {
    border: 2px solid #22c55e;
}
.new-task button,
.new-task button svg{
    background-color: #22c55e;
}
.new-task button{
    padding: 4px;
    width: 39px;
    height: 39px;
    border: none;
}

.new-task button:hover{
    opacity: 0.9;
}

.new-task button:focus{
    opacity: 0.8;
}

.new-task button svg{
    width: 31px;
    height: 31px;
}

.tasks{
    margin: 16px;
    
    
    flex-direction: column;
}

.task{
    border-left: 4px solid #f97316;
}

.task:hover{
    border: 2px solid #f97316;
    border-left: 4px solid #f97316;
}

.task.done{
    border-left: 4px solid #22c55e;
}

.task.done:hover{
    border-left: 4px solid #22c55e;
}

.task p,
.task span{
    background-color: #1e293b;
}

@media screen and (max-width: 650px) {
    body {
        margin: 96px auto;
    }
    div {
        max-width: 90vw;
    }
}